.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev		 { left: -25%; }
.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}

.col-xs-3:hover .img-wrap{
    background-color: black;
}

.col-xs-3:hover img{
    opacity: .40;
}

.imgDesc {
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: "Arial Black";

    visibility: hidden;
    opacity: 0;
}


#scroll1-1 {
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#scroll2-1 {
    text-align: center;
    bottom: 0;
    left: 0;
    right:0;

}

#scroll1-2 {
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#scroll2-2 {
    text-align: center;
    bottom: 0;
    left: 0;
    right:0;

}

#scroll1-3 {
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#scroll2-3 {
    text-align: center;
    bottom: 0;
    left: 0;
    right:0;

}

#scroll1-4 {
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#scroll2-4 {
    text-align: center;
    bottom: 0;
    left: 0;
    right:0;

}


.img-wrap:hover .imgDesc {
    visibility: visible;
    opacity: 1;
}



