.panel-default > .panel-heading {
    color: #d43f3a;
    background-color: #d43f3a;
    border-color: #d43f3a;
}

.panel-default{
    border-radius: 0px;
    padding: 0px;
    border-color: #d43f3a;
}
.panel-heading > .panel-title > a{
    color: white;
}

.panel-group{
    padding-bottom: 0px;
    border-radius: 0px;
    margin-bottom: 10px;
}

#collapse1{
    background-color: lightgray;
    height: 80px;
}

#firstColumn{
    display: inline-block;
}

#secondColumn{
    display: inline-block;
}

#applyfilter{
    margin-left: 20px;
}

#sortbydropdown{
    display: inline-block;
}

#genreBoxes ul li {
    list-style-type: none;
}

#genreBoxes{
    display: inline-block;
}

#searchheader{
    text-align: center;
}

.col-md-3 img{
    width: 240px;
    height: 365px;
}

.row{
    margin-bottom: 15px;

}
