*{
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#toolbar-wrapper {
    width: auto;
    background-color: #2e2e2e;
    display: inline-block;
    vertical-align: top;
}

.toolbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#canvas-wrapper {
    background-color: lightgrey;
    display: inline-block;
}

.toolbar-at-top {
    padding: 0px;
}

.toolbar-nav > li  > a.active {
    background-color: #fff;
}

.toolbar-nav > li > a.active:hover {
    background-color: #f2f2f2;
}

.toolbar-nav > li > a {
    display: block;
    width: 100%;
    padding: 5px 20px;
    background-color: #2e2e2e;
    text-align: center;
}

.toolbar-nav > li > a:hover {
    cursor: pointer;
    background-color: #404040;
}

.toolbar-nav > li > a > img {
    width: 20px;
}

.minimized {
    display: none;
}

#speechbub {
    top: 90;
}

#colors {
    top: 120;
}

.tool-slideout {
    position: absolute;
    left: 90;
    width: 200px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #aaaaaa;
    z-index: 1000;
}

.tool-wrapper {
    padding: 5px;
    border: 1px solid #aaaaaa;
    background-color: #fff;
    overflow-y: scroll;
    max-height: 300px;
}

.tool-item {
    display: inline-block;
    padding: 5px;
}

.tool-item:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.tool-item.active {
    background-color: #f2f2f2;
}

.tool-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
}

#resizeBar-wrapper{
    position: absolute;
    background-color: #b3b3b3;
    border: 1px solid #8c8c8c;
    right: 0;
}

#resizeBar-wrapper ul {
    list-style-type: none;
}

/*.toolbar-at-top{*/
    /*padding-left: 0px;*/
/*}*/

/*.toolbar-at-top li{*/
    /*display: inline-block;*/
    /*height: 100%;*/
    /*width: 52px;*/
    /*align-content: center;*/
/*}*/


.toolbar-at-top li svg circle{
    background-color: #2e2e2e;

}

/*.toolbar-at-top li:hover {*/
    /*cursor: pointer;*/
    /*background-color: #404040;*/
/*}*/

.toolbar-at-top li.active {
    background-color: #fff;
}

.toolbar-at-top li.active:hover {
    background-color: #f2f2f2;
}

.toolbar-nav > .two {
    text-align: center;
    padding: 5px 0px;
}

.toolbar-nav > .two > a{
    display: inline-block;
    width: 26px;
    padding: 5px;
}

.toolbar-nav > .two > a > img {
    width: 16px;
}

.literally {
    width: 400px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

#draw-form {
    display: inline-block;
    vertical-align: top;
    background-color: #020c2d;
    /*padding: 20px;*/
    color: #fff;
}

#draw-form form {
    padding: 20px;
}

#upload{
     width: 50%;
     margin-left: auto;
     margin-right: auto;
     display: block;
}

label{
    text-transform: uppercase;
    font-size: 12px;
}